{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../../styles/css/photography.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="hero-img container-fluid">
        <h1>Chai</h1>
    </div>
    <section class="gallery container-fluid">
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-007.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-006.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-004.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-008.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-002.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-003.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-001.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-005.jpg" />
        </div>
        <p class="description">A concept shoot exploring the feeling of being alone but not lonely, of being lost but with no particular destination in mind. Collaboration for Lunar Gala 2020.</p>
        <button class="btn btn-4 btn-4c icon-arrow-up scroll-top">SCROLL TO TOP</button>
    </section>

{% endblock %}

{% block scripts %}
    <script src="../../js/photography.js"></script>

    <style>
        .hero-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.6), 
                    rgba(0, 0, 0, 0.6)
                ), url("https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-002.jpg");
            background-position: center top;
        }
    </style>
{% endblock %}

