{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../../styles/css/photography.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="hero-img container-fluid">
        <h1>East Liberty Gentrification</h1>
    </div>
    <section class="gallery container-fluid">
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-001.jpg" />
        </div>
        <div class="frame double">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-002.jpg" />
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-008.jpg" />
        </div>
        <p>The speed of gentrification often forces development to build up. Thus, peeking at the layers below can reveal some of the history of the area. </p>
        <div class="frame double">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-007.jpg" />
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-006.jpg" />
        </div>
        <p>On the left is housing built in the area of the Auburn Terrace high rise, which provided low-income housing and was demolished in 2009. The new housing is less space-efficient and costs significantly more to live in. On the right is an older section of street that is less well maintained. These images are just two examples of housing available at different parts of the spectrum.</p>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-005.jpg" />
        </div>
        <div class="frame double">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-011.jpg" />
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-004.jpg" />
        </div>
        <p>Gentrification begins with evictions from low-income housing that bars residents from re-entering their old homes. The large top image is at the site of Penn Plaza, which was previously low-income housing. It was demolished and left vacant for several years while plans were made to build a shopping center in its place.</p>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-010.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-012.jpg" />
        </div>
        <p>Graffiti and signs around the town reflect the voices of the oppressed and their efforts in the fight for justice.</p>
        <div class="frame double">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-003.jpg" />
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-009.jpg" />
        </div>
        <p class="description">This series originated as an assignment for Carnegie Mellon's Digital Photography I course. Inspired by another class about capitalism and inequality, I chose to investigate Pittsburgh's growing gentrification problem and the impact narrow-minded redevelopment can have on a community. Notable locations in these photos include the "East Side" shops, the Penn Plaza site, and the location of the demolished Auburn Terrace High Rise Apartments.<br /><br />
            This is an ongoing project. The pictures featured here were taken in the span of one month. A complex topic such as gentrification could take years to do justice.
        </p>
        <button class="btn btn-4 btn-4c icon-arrow-up scroll-top">SCROLL TO TOP</button>
    </section>

{% endblock %}

{% block scripts %}
    <script src="../../js/photography.js"></script>

    <style>
        .hero-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.6), 
                    rgba(0, 0, 0, 0.6)
                ), url("https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-005.jpg");
            background-position: center center;
        }
    </style>
{% endblock %}

