{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../../styles/css/photography.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="hero-img container-fluid">
        <h1>Fashion Shows</h1>
    </div>
    <section class="gallery container-fluid">
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-017.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-033.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-005.jpg" />
        </div>
         <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-031.jpg" />
        </div>
        <div class="frame double">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-021.jpg" />
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-019.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-014.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-028.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-009.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-030.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-027.jpg" />
        </div>     
        <div class="frame double">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-001.jpg" />
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-007.jpg" />
        </div>
        <p>Photos above from Carnegie Mellon's annual student-run fashion show, Lunar Gala, which celebrates the lunar new year. More info at <a href="https://lunargala.org" target="_blank">lunargala.org</a></p>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/fashion-alley-001.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/fashion-alley-004.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/fashion-alley-005.jpg" />
        </div>
        <button class="btn btn-4 btn-4c icon-arrow-up scroll-top">SCROLL TO TOP</button>
    </section>

{% endblock %}

{% block scripts %}
    <script src="../../js/photography.js"></script>

    <style>
        .hero-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.6), 
                    rgba(0, 0, 0, 0.6)
                ), url("https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-033.jpg");
            background-position: center 5%;
        }
    </style>
{% endblock %}

