{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../../styles/css/photography.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="hero-img container-fluid">
        <h1>Fiona</h1>
    </div>
    <section class="gallery container-fluid">
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-005.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-010.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-008.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-007.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-004.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-006.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-009.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-011.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-001.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-002.jpeg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-003.jpeg" />
        </div>
        <button class="btn btn-4 btn-4c icon-arrow-up scroll-top">SCROLL TO TOP</button>
    </section>

{% endblock %}

{% block scripts %}
    <script src="../../js/photography.js"></script>

    <style>
        .hero-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.6), 
                    rgba(0, 0, 0, 0.6)
                ), url("https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-002.jpeg");
            background-position: center 20%;
        }
    </style>
{% endblock %}

