{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../../styles/css/photography.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="hero-img container-fluid">
        <h1>Roofs - Stairs - Doors</h1>
    </div>
    <section class="gallery container-fluid">
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-012.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-013.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-007.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-005.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-001.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-004.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-008.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-002.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-006.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-010.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-003.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-009.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-011.jpg" />
        </div>
        <p class="description">These images were created for a black and white film photography class at Carnegie Mellon. I often found myself attracted to simple architectural objects and tried to break up rigid structures with light.</p>
        <button class="btn btn-4 btn-4c icon-arrow-up scroll-top">SCROLL TO TOP</button>
    </section>

{% endblock %}

{% block scripts %}
    <script src="../../js/photography.js"></script>

    <style>
        .hero-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.6), 
                    rgba(0, 0, 0, 0.6)
                ), url("https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-010.jpg");
            background-position: center center;
        }
    </style>
{% endblock %}

