{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../../styles/css/photography.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="hero-img container-fluid">
        <h1>Senior Portraits</h1>
    </div>
    <section class="gallery container-fluid">
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ryan-015.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ryan-003.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ryan-006.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ryan-012.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ryan-008.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ann-001.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ann-003.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ann-006.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ann-005.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/selena-003.jpg" />
        </div>
        <div class="frame double">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/selena-005.jpg" />
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/selena-004.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/selena-013.jpg" />
        </div>
        <div class="frame double">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/selena-014.jpg" />
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/selena-015.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/jared-002.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ummat-013.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ummat-006.jpg" />
        </div>
        <div class="frame">
            <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ummat-008.jpg" />
        </div>
        <button class="btn btn-4 btn-4c icon-arrow-up scroll-top">SCROLL TO TOP</button>
    </section>

{% endblock %}

{% block scripts %}
    <script src="../../js/photography.js"></script>

    <style>
        .hero-img {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.6), 
                    rgba(0, 0, 0, 0.6)
                ), url("https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ann-005.jpg");
            background-position: center 20%;
        }
    </style>
{% endblock %}

