{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../../styles/css/projects.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <section class="hero container-fluid dark">
        <div class="row">
            <div id="title" class="col-12 col-xl-6">
                <h1>Deeplocal</h1>
                <h3>Maintaining a Competitive Industry Advantage</h3>
            </div>
            <div class="col-12 col-xl-6">
                <img src="https://david-domalik-personal-website.s3.amazonaws.com/img/deeplocal-cover.jpg" />
            </div>
        </div>
        <div class="row" id="stats">
            <div class="col-12 col-md-6">
                <h6>Role</h6>
                <p>Business Analyst</p>
            </div>
            <div class="col-12 col-md-6">
                <h6>Timeline</h6>
                <p>Summer Internship<br />
                    June 2019 - Aug 2019</p>
            </div>
        </div>
    </section>
    <section id="pgs" class="row container-fluid">
        <div class="card card-body problem col-12 col-xl-4">
            <h6>Problem</h6>
            <h5>Relying heavily on a few clients for the bulk of our work.</h5>
            <p>Deeplocal had spent much of 2018 working primarily with Google on their <span><a href="https://www.deeplocal.com/google-ces-2019" target="_blank">CES 2019 booth</a></span>, <span><a href="https://www.deeplocal.com/google-flaming-lips" target="_blank">I/O concert</a></span>, and <span><a href="https://www.deeplocal.com/google-cloud-space" target="_blank">installations at their headquarters</a></span>. While that relationship with Google was strong and fulfilling, it left the company with little bargaining power while their clients took control.</p>
        </div>
        <div class="card card-body goal col-12 col-xl-4">
            <h6>Goal</h6>
            <h5>Attract new customers to diversify our clientele.</h5>
            <p>Deeplocal realized they could regain some barganining power by reducing their reliance on a few major clients. Having a diverse list of clients would lead to greater stability at the company and establish themselves as an independent firm. </p>
        </div>
        <div class="card card-body solution col-12 col-xl-4">
            <h6>Solution</h6>
            <h5>Conduct an industry analysis and discover how we can stand out.</h5>
            <p>The viral marketing industry is extremely competitive and every project proposal involves the threat of an emerging or an established competitor winning work with the better offer. Therefore, Deeplocal asked me to evaluate their competition and identify ways they can continue to stand out in the industry.</p>
        </div>
    </section>
    <section id="content" class="container-fluid">
        <h6>Process</h6>
        <p>My internship at Deeplocal was my first exposure to the viral marketing industry. The marketing team allowed great flexibility in my work for the summer and I chose to apply many of the business principles I learned during my freshman year as an Information Systems major to this novel industry. The result was a resourceful 84-slide PowerPoint, which I condensed and presented to the CEO, CBO/COO, and CMO at the company.</p>
        <div class="subheader">
            <h6 class="step">01</h6>
            <h6>Company Profiles</h6>
        </div>
        <h5>Introducing twelve companies to watch.</h5>
        <p>I began my research by compiling a list of twelve viable competitors. Some were large, established corporations while others were more specialized, smaller companies of comparable scale to Deeplocal. Each profile included the company's size and revenue, recent clients and projects, and discussed approaches to their website and social media strategy. Looking at each competitor side-by-side highlighted the differences between Deeplocal and others, revealing potential areas to improve. This comparison set the foundation for the rest of the analysis.</p>
        <div class="subheader">
            <h6 class="step">02</h6>
            <h6>Deeplocal's Business Strategy</h6>
        </div>
        <h5>Preparing current strategy for analysis by placing it in established frameworks.</h5>
        <p>I grouped Deeplocal into the three categories of the Information Systems Strategy Triangle. I explained the structural and agile models of development under their organizational strategy. At the time, Deeplocal was lacking a strong information analysis strategy. Perhaps most revealing was a look into the business strategy, where I evaluated competitive rivalry in the industry as a whole and identified what factors were abnormal for viral marketing. To address these issues, I placed the company's current state on the operational effectiveness and strategic positioning scale. (Note: Much of the specifics of these analyses had to be redacted from the public version of my presentation.)</p>
        <div class="subheader">
            <h6 class="step">03</h6>
            <h6>Competitor's Advantages</h6>
        </div>
        <h5>A side-by-side comparison of unique advantages.</h5>
        <p>My research into each competitor revealed a fascinating characteristic that helped them stand out. I boiled down this unique aspect into one sentence to clearly show how each company has separated itself from the industry. In many cases, I believe these advantages are the deciding factor when clients are choosing partners for their projects.</p>
        <div class="subheader">
            <h6 class="step">04</h6>
            <h6>Suggestions</h6>
        </div>
        <h5>Seven actionable suggestions on how to further extend competitive advantage.</h5>
        <p>In looking at others advantages and finding similarities among the top-awarded firms, I compiled seven suggestions to Deeplocal. These included business process improvements, creative direction for future projects, and hiring recommendations. Read more about each of them at the link below.</p>
        <div class="projects-more-button">
            <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Deeplocal_Industry_Analysis.pdf" target="_blank" class="btn btn-4 btn-4c icon-arrow-right" role="button">VIEW ANALYSIS</a>
        </div>
    </section>

{% endblock %}

{% block scripts %}
{% endblock %}