{% block content %}
    <div id="footer" class="container-fluid row">
        <div id="social-media" class="col-12 col-sm-6 col-xl-4">
            <a href="https://www.linkedin.com/in/david-domalik-1960a7173/" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/daviddomalikphotography/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/david.domalik.79" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="mailto:david.domalik@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/resume.pdf" target="_blank">
                <i class="fa fa-file-text"></i>
            </a>
        </div>
        <div id="logo" class="col-6 col-xl-4">
            <p id="letter-1">D</p>
            <p id="letter-2">D</p>
        </div>
        <div id="copyright" class="col-12 col-xl-4">
            <p>© 2021. All rights reserved</p>
        </div>
    </div>
{% endblock %}