{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../styles/css/about.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="row container-fluid">
		<div class="col-12 col-lg-7">
			<h4>Hey there, thanks for checking out my portfolio! It's the result of over two years of work at Carnegie Mellon University as well as a variety of internships and personal projects.</h4>
			<p>I'm currently studying towards a double-major in Information Systems and Human-Computer Interaction as well as two minors in Photography and Social & Human Impacts of Future Technologies (SHIFT). Spanning my education across Carnegie Mellon's Humanities, Computer Science, Fine Arts, and Public Policy colleges has given me an incredibly unique perspective on designing user-centric technologies that engage my interdisciplinary interests.</p>
			<p>This past summer I worked as a <a href="projects/fpolisolutions">Software Developer at FPoliSolutions LLC</a>, an engineering technology firm specializing in web applications for the energy industry. I was the lead programmer in the creation of a new website built on PHP, Apache, Selenium, Twig, PostgreSQL, Git, and Bootstrap. I spent the previous summer working as a <a href="projects/deeplocal">Creative Marketing Intern at Deeplocal</a>. Our work included ideating, designing, and engineering stand-out technologies that attract press towards the world's biggest companies - including Google, Nike, Netflix, Old Navy, and Lyft. My primary contribution was an in-depth industry analysis that included eight suggestions on how Deeplocal could maintain and extend their competitive advantage.</p>
			<p>I prefer to spend my time away from work by pursuing my passions in a number of organizations at CMU. I'm very active in the CMU Run Club, a social club of friends with a shared interest in running and fitness. I furthered my experience as a photographer and web developer for Lunar Gala, one of the largest fashion shows in Pittsburgh and completely run by 140 CMU students. Last year I was president of the Student Dormitory Council, one of CMU's three major student governing bodies. SDC is particularly focused on students who live in university-owned housing and aims to improve the student experience on campus. I led the organization through a major restructuring process that was necessary to maintain student engagement and grow our presence on campus.</p>
			<p>While my interests are varied, I find unity around a core set of ideals that I try to follow in everything I do: I constantly strive to <b>optimize processes, act efficiently, and work to improve myself and others</b>. Sometimes its in the form of revitalizing software that wasn't originally designed with users in mind. Other times I'm analyzing how to jumpstart stagnant organizations. Or I could be exploring the fallacies in society and identifying ways my expertise in technology can reform those situations. Even running serves as a way for me to focus on improving my mental and physical well-being.</p>
			<p>I'd love to chat more about <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/resume.pdf" target="_blank">my interests and experiences</a> and find ways how I can apply my skills to improve your business. Please don't hesitate to <a href="contact">reach out!</a></p>
		</div>
		<div class="col-12 col-lg-4">
			<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/new-profile.jpeg" />
		</div>
	</div>
	
{% endblock %}

{% block scripts %}
{% endblock %}