{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../styles/css/photography.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

	<section id="section-photography" class="container-fluid">
		<div id="categories">
			<h2 id="photo-menu-portrait">Portrait</h2>
			<h2 id="photo-menu-art">Art</h2>
			<h2 id="photo-menu-commercial">Commercial</h2>
			<h2 id="photo-menu-misc">Misc</h2>
		</div>
		<div id="portrait-photography" class="image-grid">
			<a href="photography/jessica" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/jessica/jessica-004.jpeg" style="object-position: 50% 60%" />
				<p>Jessica</p>
			</a>
			<a href="photography/taylor" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/taylor/taylor-008.jpeg" style="object-position: 50% 40%" />
				<p>Taylor</p>
			</a>
			<a href="photography/dani-jess" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/dani-jess/producers-004.jpeg" style="object-position: 50% 30%" />
				<p>Dani + Jess</p>
			</a>
			<a href="photography/chai" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/chai/lunar-gala-concept-005.jpg" style="object-position: 50% 60%" />
				<p>Chai</p>
			</a>
			<a href="photography/fiona" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fiona/fiona-005.jpeg" style="object-position: 50% 0%" />
				<p>Fiona</p>
			</a>
			<a href="photography/studio" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/studio/lunar-gala-studio-004.jpg" style="object-position: 50% 50%" />
				<p>Studio</p>
			</a>
			<a href="photography/senior-portraits" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/senior-portraits/ryan-015.jpg" style="object-position: 50% 20%" />
				<p>Senior Portraits</p>
			</a>
			<a href="photography/fashion-shows" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/fashion-shows/lunar-gala-show-017.jpg" style="object-position: 50% 30%" />
				<p>Fashion Shows</p>
			</a>
			<a href="photography/business" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-portrait/business/business-004.jpeg" style="object-position: 50% 20%" />
				<p>Business Headshots</p>
			</a>
			
		</div>
		<div id="art-photography" class="image-grid">
			<a href="photography/abstract-architecture" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/abstract-architecture/abstract-architecture-001.jpg" style="object-position: 50% 90%" />
				<p>Abstract Architecture</p>
			</a>
			<a href="photography/east-liberty-gentrification" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/east-liberty-gentrification/east-liberty-gentrification-005.jpg" style="object-position: 50% 50%" />
				<p>East Liberty Gentrification</p>
			</a>
			<a href="photography/roofs-stairs-doors" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/roofs-stairs-doors/roofs-stairs-doors-012.jpg" style="object-position: 40% 50%" />
				<p>Roofs, Stairs, Doors</p>
			</a>
			<a href="photography/hillman-library" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-art/hillman-library/hillman-library-005.jpg" style="object-position: 60% 50%" />
				<p>Hillman Library</p>
			</a>
		</div>
		<div id="commercial-photography" class="image-grid">
			<a href="photography/carnegie-mellon-university" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-commercial/carnegie-mellon-university/carnegie-mellon-university-003.jpg" style="object-position: 50% 50%" />
				<p>Carnegie Mellon University</p>
			</a>
			<a href="photography/concert" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-commercial/concert/concert-003.jpg" style="object-position: 50% 50%" />
				<p>Concert</p>
			</a>
			<a href="photography/music-store" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-commercial/music-store/music-store-004.jpg" style="object-position: 50% 90%" />
				<p>Music Store</p>
			</a>
			<a href="photography/pittsburgh" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-commercial/pittsburgh/pittsburgh-007.jpg" style="object-position: 50% 50%" />
				<p>Pittsburgh</p>
			</a>
			<a href="photography/wedding" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-commercial/wedding/wedding-005.jpg" style="object-position: 50% 10%" />
				<p>Wedding</p>
			</a>
		</div>
		<div id="misc-photography" class="image-grid">
			<a href="photography/colorado" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-misc/colorado/colorado-002.jpg" style="object-position: 50% 50%" />
				<p>Colorado</p>
			</a>
			<a href="photography/fireworks" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-misc/fireworks/fireworks-003.jpg" style="object-position: 50% 50%" />
				<p>Fireworks</p>
			</a>
			<a href="photography/macro" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-misc/macro/macro-006.jpg" style="object-position: 30% 50%" />
				<p>Macro</p>
			</a>
			<a href="photography/night" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-misc/night/night-004.jpg" style="object-position: 50% 60%" />
				<p>Night</p>
			</a>
			<a href="photography/sunrise-sunset" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-misc/sunrise-sunset/sunrise-sunset-008.jpg" style="object-position: 90% 50%" />
				<p>Sunrise/Sunset</p>
			</a>
			<a href="photography/winter" class="project">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/photography-misc/winter/winter-002.jpg" style="object-position: 50% 50%" />
				<p>Winter</p>
			</a>
		</div>
	</section>
	
{% endblock %}

{% block scripts %}
    <script src="../js/photography.js"></script>
{% endblock %}