{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../styles/css/projects.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

	<section id="projects-home" class="container-fluid">
		<div id="fpolisolutions" class="card row">
			<div class="card-image col-12 col-lg-6 no-left-gutter">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/fpoli.jpg" />
			</div>
			<div class="card-body col-12 col-lg-6">
				<h2>FPoliSolutions</h2>
				<p>I was the lead programmer in the creation of a new full-stack web application to replace the current FPoliSolutions website. My contributions included visual design prototyping, programming, responsiveness, search engine optimization, and testing using a variety of tools and languages.</p>
				<a href="projects/fpolisolutions" class="btn btn-4 btn-4c icon-arrow-right" role="button">VIEW PROJECT</a>
			</div>
		</div>
		<div id="residence" class="card row">
			<div class="card-image col-12 col-lg-6 no-left-gutter">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/residence-cover.jpg" />
			</div>
			<div class="card-body col-12 col-lg-6">
				<h2>Residence</h2>
				<p>I developed a Swift mobile application for resident assistants struggling to manage their residents during the COVID-19 pandemic. My roles on the project included front-end development lead and user researcher with some minor back-end integration and testing.</p>
				<a href="projects/residence" class="btn btn-4 btn-4c icon-arrow-right" role="button">VIEW PROJECT</a>
			</div>
		</div>
		<div id="our-shopping-list" class="card row">
			<div class="card-image col-12 col-lg-6 no-left-gutter">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/our-shopping-list-cover.png" />
			</div>
			<div class="card-body col-12 col-lg-6">
				<h2>Our Shopping List</h2>
				<p>Our Shopping List is a responsive web application I designed for grocery stores looking to better serve their in-person customers during the COVID-19 pandemic. The team project included numerous design iterations, user research and testing, and a pitch to our client.</p>
				<a href="projects/our-shopping-list" class="btn btn-4 btn-4c icon-arrow-right" role="button">VIEW PROJECT</a>
			</div>
		</div>
		<div id="8bit-theater" class="card row">
			<div class="card-image col-12 col-lg-6 no-left-gutter">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/8bit-theater.jpg" />
			</div>
			<div class="card-body col-12 col-lg-6">
				<h2>8-Bit Theater</h2>
				<p>8-Bit Theater is a live virtual theater experience I researched and designed for the Kelly Strayhorn Theater in Pittsburgh, PA with the goal of improving performer-audience interaction online. Working on a team, I served as a user researcher and experience designer.</p>
				<a href="projects/8bit-theater" class="btn btn-4 btn-4c icon-arrow-right" role="button">VIEW PROJECT</a>
			</div>
		</div>
		<div id="creamery" class="card row">
			<div class="card-image col-12 col-lg-6 no-left-gutter">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/creamery.jpg" />
			</div>
			<div class="card-body col-12 col-lg-6">
				<h2>A&M Creamery</h2>
				<p>I designed a full-stack Ruby on Rails application that serves as the employee management system for a fictitious creamery. The application utilizes all CRUD operations and a number of gems to enable authorization/authentication, search, and pagination as well as achieve 100% test coverage.</p>
				<a href="projects/creamery" class="btn btn-4 btn-4c icon-arrow-right" role="button">VIEW PROJECT</a>
			</div>
		</div>
		<div id="deeplocal" class="card row">
			<div class="card-image col-12 col-lg-6 no-left-gutter">
				<img src="https://david-domalik-personal-website.s3.amazonaws.com/img/deeplocal-cover.jpg" />
			</div>
			<div class="card-body col-12 col-lg-6">
				<h2>Deeplocal</h2>
				<p>I assisted in marketing the studio’s creative technology work for Google, Nike, Netflix, Old Navy, Slack, and Lyft. The internship concluded with an industry analysis presentation to C-suite executives that suggested how to maintain and extend a competitive advantage.</p>
				<a href="projects/deeplocal" class="btn btn-4 btn-4c icon-arrow-right" role="button">VIEW PROJECT</a>
			</div>
		</div>
	</section>
	
{% endblock %}

{% block scripts %}
{% endblock %}