{% extends "common/common.html.twig" %}

{% block styles %}
    <link href="../styles/css/writing.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

	<section class="container-fluid row">
		<div id="document-menu" class="col-12 col-xl-4 no-left-gutter">
			<ul>
				<li id="disinformation-menu" class="active-document">Disinformation Policy</li>
				<li id="quantum-menu">Quantum Computing and National Security</li>
				<li id="social-media-menu">Social Media and National Security</li>
				<li id="manipulated-portraiture-menu">Psychosocial Impact of Manipulated Portraiture</li>
				<li id="enhancement-menu">Human Enhancement and Privacy</li>
				<li id="cyberbalkanization-menu">Cyberbalkanization</li>
				<li id="collaboration-menu">Legal-Technical Collaboration</li>
				<li id="ai-menu">Legal Impacts of AI</li>
				<li id="duplex-menu">Google Duplex</li>
				<li id="services-menu">Shift to Services</li>
				<li id="history-menu">Historical Misuse of Science</li>
				<li id="streaming-menu">Streaming Security</li>
			</ul>
		</div>
		<div id="show-content" class="col-8">
			<div id="disinformation-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Disinformation_Policy.pdf" type="application/pdf" width="100%" height="100%">
					<p>AN EVALUATION OF WORLDWIDE POLICY CONCERNING THE THREAT OF DISINFORMATION ON DEMOCRATIC SYSTEMS - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Disinformation_Policy.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="quantum-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Quantum_Computing_and_National_Security.pdf" type="application/pdf" width="100%" height="100%">
					<p>THE THREAT OF QUANTUM COMPUTING ON INDIVIDUAL AND NATIONAL SECURITY AND THE CHALLENGES OF PREPARING FOR Q-DAY - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Quantum_Computing_and_National_Security.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="social-media-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Social_Media_and_National_Security.pdf" type="application/pdf" width="100%" height="100%">
					<p>Social Media and National Security - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Social_Media_and_National_Security.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="manipulated-portraiture-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Psychosocial_Impact_of_Manipulated_Portraiture.pdf" type="application/pdf" width="100%" height="100%">
					<p>Psychosocial Impact of Manipulated Portraiture - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Psychosocial_Impact_of_Manipulated_Portraiture.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="enhancement-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Human_Enhancement_and_Privacy.pdf" type="application/pdf" width="100%" height="100%">
					<p>IMPROVEMENTS TO PRIVACY POLICY BASED ON THE ETHICS AND HUMAN IMPACT OF VARIOUS INTELLIGENT TECHNOLOGIES - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Human_Enhancement_and_Privacy.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="cyberbalkanization-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Cyberbalkanization.pdf" type="application/pdf" width="100%" height="100%">
					<p>Russia’s Splinternet: How Cyberbalkanization Will Disrupt the Internet We Know Today - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Cyberbalkanization.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="collaboration-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Legal_Technical_Collaboration.pdf" type="application/pdf" width="100%" height="100%">
					<p>A Strategy to Improve Communication and Collaboration Between Legal and Technical Experts - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Legal_Technical_Collaboration.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="ai-content"class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Legal_Impacts_of_AI.pdf" type="application/pdf" width="100%" height="100%">
					<p>Why Artificial Intelligence Will Have the Greatest Future Legal Impacts - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Legal_Impacts_of_AI.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="duplex-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Google_Duplex.pdf" type="application/pdf" width="100%" height="100%">
					<p>Google Duplex - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Google_Duplex.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="services-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Shift_to_Services.pdf" type="application/pdf" width="100%" height="100%">
					<p>TechTalk 2.0: Big Tech’s Tech-tonic Shift From Products to Services - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Shift_to_Services.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="history-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Historical_Misuse_of_Science.pdf" type="application/pdf" width="100%" height="100%">
					<p>Scientific Progress Doesn’t Equal Societal Progress - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Historical_Misuse_of_Science.pdf" target="_blank">Download</a></p>
				</object>
			</div>
			<div id="streaming-content" class="document">
				<object data="https://david-domalik-personal-website.s3.amazonaws.com/files/Streaming_Security.pdf" type="application/pdf" width="100%" height="100%">
					<p>TechTalk 2.0: Fix this Mistake to Secure Your Streaming Services - <a href="https://david-domalik-personal-website.s3.amazonaws.com/files/Streaming_Security.pdf" target="_blank">Download</a></p>
				</object>
			</div>
		</div>
	</section>

{% endblock %}

{% block scripts %}
    <script src="../js/writing.js"></script>
{% endblock %}