@import 'variables';

/* ABOUT.SCSS */

.row {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
    box-shadow: 18px 18px $accent;
    transition: 200ms ease all;

    @media #{$lg} {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    &:hover {
        transform: rotate(5deg);
        transition: 200ms ease all;
    }
}